<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    <title>Main page Quick Share WebApp</title>
</head>

<body style="text-align:center;">
    <h1 class="greeting"></h1>
    <h1>Thank you for signing up</h1>
    <button id="logOut">Log Out</button>
    <div id="err"></div>
</body>
<script src="js/indexJS.js"></script>

</html>