<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <title>Main page Quick Share WebApp</title>
</head>

<body style="text-align:center;">
    <h1>Enter your username and email for the database</h1>
    <label for="emails">Email</label>
    <input type="email" id='emails' placeholder='Enter your Email'>
    <label for="name">Name</label>
    <input type="text" id='names' placeholder="Enter your name">
    <button type="button" id="enter">ENTER</button>
    <button type="button" id="logOut">Log Out</button>
    <h1 id="err"></h1>

</body>
<script src="js/indexJS.js"></script>
</html>